.form {
  text-align: center;
}

.searchbar {
  font-size: 16px;
  height: 30px;
  width: 60%;
}

.searchbtn {
  height: 36px;
}

.card {
  text-align: left;
  border: black ridge 1px;
  border-radius: 10px;
  margin: 3px;
  width: 20rem;
  padding-left: 10px;
}
