* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

button:focus {
  outline: none;
}

.ql-editor p,
.ql-editor.ql-blank::before {
  font-size: 1.3rem;
  font-weight: 100;
}

.pane {
  overflow-y: auto;
  /* padding: 10px; */
}

.sidebar {
  width: 20%;
  height: 100vh;
}

.sidebar-header {
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  padding: 10px 10px 6px;
  border: 1px solid #ccc;
  background-color: #DFDDDF;
  margin-bottom: 0px;
}

.button {
  cursor: pointer;
  margin: 0px 5px;
  height: 30px;
  width: 50px;
  font-size: 20px;
  border-radius: 5px;
  background: #F6F6F7;
  border: 1px solid rgba(169, 169, 169, 0.7);
}

.button:hover{
  background-color: lightgray;
}

.first-note {
  cursor: pointer;
  background-color: #4A4E74;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 1rem;
}

.editor {
  width: 80%;
  height: 100vh;
}

.title {
  overflow: hidden;
  cursor: pointer;
  /* display: flex;
  justify-content: space-between; */
  align-items: center;
  padding: 0px 10px;
  border-bottom: 1px solid rgba(74, 78, 116, 0.1);
  margin-left: 10px;
}

.text-snippet {
  padding-inline: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0px;
}
.time {
  display: flex;
  padding-inline: 5px;
  font-size: 0.7rem;
  white-space: nowrap;
  margin-top: 0px;
}
.time p:last-child{
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 15px;
}

.selected-note {
  background-color: #F9ECB3;
  margin: -1px 0px;
  border: none;
}

.gutter {
  background-color: #DFDDDF;

  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}

.gutter.gutter-horizontal:hover {
  cursor: col-resize;
}

.split {
  display: flex;
}

.no-notes {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}
.wrapper-class {
  border: 1px solid #ccc;
}
.editor-class {
  background-color: #FAFBF8;
  border: 1px solid #cccccc;
  min-height: 95vh;
}
.toolbar-class {
  border: 1px solid #ccc !important;
  background-color: #DFDDDF !important;
  margin-bottom: 0px !important;
}
.rdw-option-wrapper {
  padding: 15px !important;
  border-radius: 5px !important;
  background: #F6F6F7 !important;
  border: 1px solid rgba(169, 169, 169, 0.7) !important;
}
.rdw-option-wrapper:hover{
  background-color: lightgray !important;
}
.rdw-dropdown-wrapper {
border-radius: 5px !important;
background: #F6F6F7 !important;
border: 1px solid rgba(169, 169, 169, 0.7) !important;
}
.rdw-dropdown-wrapper:hover {
  background-color: lightgrey !important;;
}
